torch>=2.0
torchvision
numpy
pandas
einops
tqdm
h5py
accelerate
diffusers>=0.21
transformers>=4.30
ftfy
regex
open_clip_torch
git+https://github.com/openai/CLIP.git
matplotlib
scikit-learn
scikit-image
nibabel
webdataset
omegaconf
wandb
